select {
    width: 150px;
    height: 30px;
}
label {
	display: inline-block;
	margin: 0 5px 5px 5px;
	&:first-of-type {
		margin-left: 0;
	}
}
input[type='range'] {
	display: block;
	width: 8px;
	height: 70px;
	-webkit-appearance: slider-vertical;
}
label>input, 
label>select,
label>.Select {
	margin-left: 5px;
}

label>.Select {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

input[type='number'] {
	min-width: 30px;
	max-width: 100px;
	outline: 0;
	padding: 8px 5px 2px 6px;
	border: 0;
	background-color: @primary-light;
	color: @primary;
	font-family: Orbitron, sans-serif;
	font-weight: 900;
	font-size: 1.2rem;

	&.invalid {
		background-color: @error;
		color: @white;
	}
}

button + button,
button + .scale-color,
.scale-color + button,
.scale-color + .scale-color {
	margin-left: 5px;
}

button {
	cursor: pointer;
	padding: 5px 8px;
	vertical-align: top;
	outline: none;
	border: @border-width solid @secondary;
	background-color: @secondary-light;
	color: @secondary;
	text-align: center;
	font-family: @serif-font-family;

	&.active {
		border-color: @primary;
		background-color: @primary-light;
		color: @primary;		
	}

	svg {
		display: inline-block;
		margin-bottom: -2px;
		* {
			fill: currentColor !important;
		}
		+ span {
			padding: 0 5px 0 3px;
			vertical-align: top;
			line-height: 24px;
		}
	}
}

button.button-icon {
	padding: 5px;
	svg {
		margin-bottom: 0;
		display: block;
	}
}

hr {
	border: none;
	border-top: 1px solid @light-grey;

	&.vertical {
		position: relative;
		display: inline-block;
		height: 100%;
		min-height: 36px;
		margin: 0 @gutter*2;
		border-top: none;
		border-left: 1px solid @light-grey;
	}
}