

@white: #FDFFFC;
// @dark: #231F20;
@light: #EDF2FA;
@dark: #011627;

@light-grey: #DADFE6;
@grey: #828D9B;
@dark-grey: #25252B;

@primary: #64B6AC;
@primary-light: #C0FDFB;
@secondary: darken(#FAD4C0, 10%);
@secondary-light: #FEE9E1;

@serif-font-family: Jura, sans-serif;

@gutter: 5px;
@ui-height: 136px;
@border-radius: 4px;
@border-width: 1px;