@import './definitions.less';
@import './mixins.less';
@import './base.less';
@import './ui.less';
@import './components/react-select.less';

html,body {
	margin: 0;
	padding: 0;
	font-family: @serif-font-family;
	font-weight: 500;
	overflow-y: hidden;
}

.app {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.interface-container {
	position: absolute;
	top: @ui-height;
	left: 0;
	width: 100vw;
	height: calc(100vh ~"-" @ui-height);

	> .primary-interface {
		.cover();
	}

	> .oscillators-interface,
	> .mappings-interface,
	> .fx-interface {
		.cover();
		background-color: fade(@white, 75%);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
	}
}

.envelope-container {
	max-width: 250px;
	max-height: 100px;
}

[data-label] {
	position: relative;
	&:hover:after {
		content: attr(data-label);
		z-index: 10;
		position: absolute;
		top: calc(100% ~"+" @gutter);
		// left: 50%;
		// transform: translate(-50%, 0);
		left: 0;
		color: @white;
		background-color: fade(@dark, 75%);
		padding: @gutter;
		white-space: nowrap;
	}
}

[data-numbered] {
	position: relative;
	&:after {
		content: attr(data-numbered);
		z-index: 10;
		position: absolute;
		top: 3px;
		left: 3px;
		font-size: 8px;
		color: @white;
	}
}