@import './definitions.less';
@import './typography.less';
@import './mixins.less';
@import './base.less';
@import './ui.less';
@import './modal.less';
@import './sections.less';
@import './components/react-select.less';

html,body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	color: @black;
	font-family: @serif-font-family;
	font-weight: 500;
}

.app {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

[data-label] {
	position: relative;
	&:hover:after {
		content: attr(data-label);
		z-index: 10;
		position: absolute;
		top: calc(100% ~"+" @gutter);
		left: 0;
		padding: @gutter;
		background-color: fade(@dark, 75%);
		color: @white;
		white-space: nowrap;
	}
}

[data-numbered] {
	position: relative;
	&:after {
		content: attr(data-numbered);
		z-index: 10;
		position: absolute;
		top: 3px;
		left: 3px;
		color: @white;
		font-size: 8px;
	}
}