.ui {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
    height: @ui-height - @gutter*2;
    padding: @gutter;

    >div:first-child {
    	padding-bottom: @gutter;
    	border-bottom: 1px solid @light;
    }

    >div:not(:last-child) {
    	margin-bottom: @gutter;
    }

    .ui-global {
    	display: flex;
    	flex-wrap: nowrap;
    	justify-content: space-between;
    }

    .ui-view {

    }

    .ui-selection {

    }
}

.beat-indicator {
    display: inline-block;
    .square(8px);
    border: 1px solid @grey;
   
    &.downbeat {
        background-color: @primary;
    }
    &.upbeat {
        background-color: @secondary;
    }
}