.ui {
    height: @ui-top-height - @gutter*2;
    padding: @gutter;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;

    >div:first-child {
    	padding-bottom: @gutter;
    	border-bottom: 1px solid @light;
    }

    >div:not(:last-child) {
    	margin-bottom: @gutter;
    }
}

.ui-global {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.ui-view {

}

.interface-container {
    position: absolute;
    top: @ui-top-height;
    left: 0;
    width: 100vw;
    height: calc(100vh ~"-" @ui-top-height);

    > .primary-interface {
        .cover();
    }

    > .chords-interface,
    > .oscillators-interface,
    > .mappings-interface,
    > .fx-interface {
        .cover();
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: auto;
        background-color: fade(@white, 75%);

        p {
            font-size: 24px;
        }
    }
}

.ui-properties {
    position: fixed;
    left: 0;
    bottom: -@ui-bottom-height - @gutter*2;
    width: 100vw;
    height: @ui-bottom-height;
    padding: @gutter;

    background-color: @white;
    transition: bottom 0.2s ease-in-out;

    &.active {
        bottom: 0;
    }
}

.properties-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.scale-color {
    cursor: pointer;
    .square(24px + @gutter*2 + @border-width*2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    border: @border-width solid currentColor;
    color: white;
    font-weight: bolder;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.35);

    &.active {
        .square(24px + @gutter*2);
        border-color: @primary;
        border-width: @border-width*2;
    }
}

.beat-indicator {
    .square(8px);
    display: inline-block;
    border: 1px solid @grey;
   
    &.downbeat {
        background-color: @primary;
    }
    &.upbeat {
        background-color: @secondary;
    }
}

.oscillator {
    display: flex;
    align-items: center;

    label,
    .oscillator-display {
        margin-right: @margin-medium;
    }
}

.oscillator-display {
    display: block;
    width: 150px;
    height: 50px;
    margin-bottom: @gutter;
    background-color: black;
}

.envelope-container {
    max-width: 350px;
    flex-grow: 3;
    height: 75px;
}

.chords-interface {

    .chord-select {
        display: flex;
        flex-direction: column;
        align-items: center;
        > * {
            margin-top: @margin-small;
        }
    }

    .chord-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    ul {
        list-style: none;
        padding-left: 0;
        li {
            display: inline-block;
            margin: 0 @margin-medium;
        }
    }
}

.chord-input {
    margin: @margin-xsmall 0;
    padding: @margin-xsmall @margin-small;
    min-width: 350px;
    border: 1px solid @light;
    display: flex;
    align-items: center;
    transition: background-color @transition-fast linear;

    &.suggested {
        background-color: @light;
    }

    &.playing {
        background-color: @highlight;
    }

    >* {
        margin-bottom: 0;
    }
}